.contactForm {
  text-align: center;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  /* text-align: left; */
}
.title {
  text-align: center;
}
.contact {
  font-size: 30px;
  font-weight: 900;
}
