/*----------- Header-------------- */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;

  /* color: var(--light); */
  background-color: aliceblue;
}
nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  text-decoration: none;
}

nav a {
  color: rgb(77, 106, 246);
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
}

/*------------main------------*/
main {
  font-family: Work Sans;
  display: flex;
  flex: 1 1 0;
  max-width: 85%;
  text-align: center;
  margin: 2% auto;
}

h2 {
  margin: 2% 0;
  font-size: 150%;
}
.image {
  clip-path: circle();
  width: 250px;
}

/*----------Footer----------*/
.footer {
  display: flex;
  justify-content: center;
  background-color: aliceblue;
  padding: 3%;
}

/*------------- Contact me----------- */

.title {
  text-align: center;
}
.contactForm {
  background-color: aliceblue;
}
.contact {
  font-size: 30px;
  font-weight: 900;
  text-align: left;
}
.form {
  margin: 30px;
}

.form input,
textarea {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}
.label {
  margin-left: auto;
}
/*----------- Project-------------- */
.project-item {
  background-color: aliceblue;
  border: 1px solid rgb(95, 174, 244);
}
.img-responsive {
  width: 100%;
  height: auto;
}
.row {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  padding: 30px;
}

/*------------ resume----------- */
