/*----------- Header-------------- */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  position: sticky;
  top: 0;
  background-color: aliceblue;
  z-index: 100;
}

nav .new {
  position: sticky;
  top: 0;
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  text-decoration: none;
}

nav a {
  color: rgb(77, 106, 246);
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
}
.name {
  font-size: 30px;
  font-weight: 600;
  text-align: left;
}

/*------------main------------*/
main {
  font-family: Work Sans;
  font-size: 20px;
  display: flex;
  flex: 1 1 0;
  max-width: 85%;
  text-align: center;
  margin: 2% auto;
}

h2 {
  margin: 2% 0;
  font-size: 150%;
}
.image {
  clip-path: circle();
  width: 250px;
}

/*----------Footer----------*/

.footer {
  background-color: aliceblue;

  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  bottom: 0;

  padding: 1%;
}

footer a {
  margin-left: 20px;
}
footer {
  margin-top: auto;
}

/*------------- Contact me----------- */

.title {
  text-align: center;
}
.contactForm {
  background-color: aliceblue;
}
.contact {
  font-size: 30px;
  font-weight: 900;
  text-align: left;
}
.form {
  margin: 30px;
}

.form input,
textarea {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}
.label {
  margin-left: auto;
}
/*----------- Project-------------- */
.project-item {
  background-color: aliceblue;
  border: 1px solid rgb(95, 174, 244);
}
.img-responsive {
  width: 100%;
  height: auto;
}

.row {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  margin-top: 20px;
  padding: 5px;
}

/*------------ resume----------- */
.skill {
  font-size: 25px;
}

body {
  margin: 0;
  padding: 0;
  height: 1000px;
}

@media only screen and (max-width: 1024px) {
  main {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 2em;
    margin-right: 2em;
  }
}
